@model MVCDemo.Models.Student
<div class="border">
    @using (Html.BeginForm("Insert", "Ajax", FormMethod.Post, new { id="insert-form"}))
    {
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)

        <button class="btn btn-danger btn-insert" type="button">Submit</button>
    }
</div>
